/*-------------------------------------------------------------------
    파일정의 : 레이아웃 및 컨텐츠 (PC)
-------------------------------------------------------------------*/

/*[s] Skip Navigation */
	.skipnav{width: 100%;}
	.skipnav a{position: absolute;left: -3000px;}
	.skipnav a:focus{display: block;top: 0;left: 0;z-index: 1000;width: 100%;height: 30px;background: #222;font-size: 15px;line-height: 30px;color: #fff;text-align: center;border:none;}
/*[e] Skip Navigation */

/*[s] All Style */
	html{overflow:hidden;overflow-y:auto;}
	html,body{width:100%;min-height:100%;line-height:1;}
	html.no_scroll{overflow-y:hidden;}

	/* 공용 */
	.infit{font-size:0;letter-spacing:0;word-spacing:0;}
	.bg_gray{background:#F1F2F3 !important;}
	.bg_wht{background:#fff !important;}
	.grd_thm{background: linear-gradient(to #C31D1D, blue, #EE3838);}
	.c_thm{color:#EE3838 !important;}
	.bg_thm{background:#EE3838 !important;}
	.bd_thm{border-color:#EE3838 !important;}
	.obd_thm{border-color:rgba(238,56,56,0.3) !important;}
	.red{color:#EE3838 !important;}
	.spq{ font-family: "Spoqa Han Sans Neo", sans-serif;}
	.lds-ellipsis div{background:#EE3838;}
	.card_list .list_con .slide_dots li.slick-active button{background:#EE3838;}
	.card_list .list_con .slide_dots li.slick-active:last-child button{width:3.5vw;height:3.5vw;background:url('../img/m/ico_cp_on.png') no-repeat;background-size:3.5vw;}
	.chk.sm:checked+.chk_label.sm:after{background:url('../img/m/ico_schecked.png') no-repeat center center;background-size:3vw;}
/*[e] All Style */

/*[s] Layout Style */
	#wrapper{position:relative;width:100%;min-height: calc(var(--vh, 1vh) * 100);transition:all .3s;}
	#header{position: relative;top:0;left:0;width:100vw;height:13.8vw;padding:4.9vw 4.4vw 0;background:#fff;border-bottom:0.2vw solid #F1F2F3;z-index:999;box-sizing:border-box;}
	#header::before{display: block;position:absolute;top:0;left:0;width:calc(100vw + 4.4vw);margin:0 -4.4vw;height:1.1vw;background: linear-gradient(to right, #C31D1D, #EE3838);content:'';}
	#header::after{display: block;clear:both;content:'';}
	#header h1{float:left;}
	#header h1 img{height:3.8vw;}
	#header h1 .simp{margin-left:1.5vw;padding:0.3vw 1vw 0.2vw;border-radius:1vw;color:#fff;font-size:2.8vw;font-weight:400;}
	#header .close{position:absolute;top:4.8vw;right:4.4vw;}
	#header .close img{height:4.6vw;}
	.pg_password #header{border:0;}
	.pg_password #header::before{display:none;}

	#container{position:relative;padding-bottom:14vh}
	.pg_password #container, .no_adv #container{padding-bottom:0;}
	.pg_simple #container{padding-bottom:4vh;}
	.inner{position:relative;width:100%;padding:0 4.4vw;box-sizing:border-box;}

	#loading{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;}
	#loading > div{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);margin-top:-10vw;text-align:center;}
	#loading .tt{padding:3vw 0;font-size:4.2vw;color:#222;font-weight:500;}
	#loading .st{font-size:3.4vw;color:#999;}

	.adv_ban{position:absolute;bottom:0;left:0;width:100%;z-index:8;transition:all .3s;}
	.adv_ban img{width:100%;}
	.cs_ban{position:absolute;bottom:0;left:0;width:100%;padding:2.5vw 0;border-top:1px solid #F0F0F0;background:#FAFAFA;font-size:3vw;color:#666;z-index:8;transition:all .3s;text-align:center;}

	@media only screen and (min-width:1025px){
		#container{padding-bottom:35vh}
	}
/*[e] Layout Style */

/* [s] Contents */
	.bx_tab ul, .tab_cnt ul{position:relative;margin-top:-2vw;margin-left:-2%;}
	.bx_tab li, .tab_cnt li{display: inline-block;vertical-align: top;position:relative;width:calc(33.33% - 2%);margin-left:2%;margin-top:2.2vw;border:0.2vw solid #ECEDEF;border-radius:1.5vw;}
	.bx_tab li a, .tab_cnt li a{display: block;height:13vw;font-size:3.3vw;text-align:center;color:#363636;line-height:13vw;}
	.bx_tab li a img, .tab_cnt li a img{height:100%;}
	.bx_tab li .tag{position:absolute;top:0.5vw;right:0.5vw;}
	.tag span{display: inline-block;vertical-align: top;width:3vw;height:3vw;margin-left:0.3vw;background:#7B8690;border-radius:0.8vw;font-size:2vw;line-height:3.5vw;color:#fff;text-align:center;font-weight:300;}
	.bx_tab li.full{display: block;width:calc(100% - 2%);padding:2.5vw 3vw;margin-top:0;margin-bottom:0.5vw;border-radius:0;background:#F8F9FA;border:0.2vw solid #F8F9FA;font-weight:300;box-sizing:border-box;}
	.bx_tab li.full *{display: inline-block;vertical-align: middle;font-size:3vw;color:#666;}
	.bx_tab li.full a{height:4.5vw;line-height:1;}
	.bx_tab li.full b{padding:0 2vw 0 1vw;font-weight:500;color:#363636;}
	.bx_tab li.full img{height:4.5vw;}
	.bx_tab li.on, .tab_cnt li.on{border-color:#EE3838 !important;}
	.bx_tab li.on a, .tab_cnt li.on a{color:#EE3838 !important;}
	.bx_tab.gray li a img{-webkit-filter:grayscale(100%);filter:gray;opacity:0.5;}
	.bx_tab.gray li.on a img{-webkit-filter:grayscale(0);filter:none;opacity:1;}
	.bx_tab.w2,.tab_cnt.w2 {margin-bottom:5vw;}
	.bx_tab.w2 li,.tab_cnt.w2 li{width:calc(50% - 2%);}
	.bx_tab.w2 li a,.tab_cnt.w2 li a{height:10vw;font-size:3.3vw;line-height:10vw;}
	.bx_tab.w3 li,.tab_cnt.w3 li{width:calc(33.33% - 2%);}
	.bx_tab.w3 li a,.tab_cnt.w3 li a{height:10vw;font-size:3.3vw;line-height:10vw;color:#a0a0a0;}
	.bx_tab.w4 li,.tab_cnt.w4 li{width:calc(25% - 2%);}
	.bx_tab.w4 li a,.tab_cnt.w4 li a{height:10vw;font-size:3.3vw;line-height:10vw;}
	.bx_cont{padding:6vw 0;border-top:1.6vw solid #F1F2F3;}
	.bx_cont h2{padding-bottom:4vw;font-size:4vw;color:#363636;font-weight:500;}
	.bx_cont h2::after{display: block;clear:both;content:'';}
	.bx_cont h2 span{float:right;font-size:2.8vw;color:#A0A0A0;font-weight:400;line-height:3.8vw;}
	.tab_con{display:none;}
	.ntxt{font-size:3.3vw;color:#666;line-height:1.5;}
	.etxt{padding-top:3vw;margin-top:4vw;border-top:0.2vw solid #F1F2F3;font-size:3.2vw;color:#666;line-height:1.4;}
	.etxt .ex_list{margin-bottom:4vw;padding:4vw 3vw;background:#FAFAFA;font-size:3.2vw;color:#363636;line-height:1.6;box-sizing:border-box;}
	.itxt{margin-top:1.5vw;padding:3vw 0 0 4vw;border-top:0.2vw solid #F1F2F3;background:url('../img/m/ico_i.png') no-repeat left top 2.8vw;background-size:3.2vw;font-size:2.8vw;color:#666;letter-spacing:-0.1vw;line-height:1.2;}
	.no_bd{border:0 !important;}

	.main_title{padding:5.5vw 0;text-align:center;}
	.main_title .st{font-size:3.1vw;color:#A0A0A0;}
	.main_title .tit{margin:2.2vw 0 3vw;font-size:5vw;color:#363636;font-weight:500;line-height:1.3;}
	.main_title .num{font-size:5.5vw;font-weight:600;}
	.main_title .num em{font-size:4vw;font-weight:400;}

	.notice_slide{position:relative;width:100%;height:10vw;padding:2vw 4.4vw;padding-left:13.9375vw;background:#F8F9FA;z-index:2;box-sizing:border-box;}
	.notice_slide h2{position:absolute;left:4.4vw;top:2.325vw;padding:1vw 1vw 0.7vw;border:0.2vw solid;border-radius:3vw;font-size:3vw;font-weight:500;}
	.notice_slide .is_slide{position:relative;width:100%;overflow:hidden;}
	.notice_slide .is_slide .sld{display: block;margin-top:0;height:6.5vw;margin:0 ;font-size:3vw;font-weight:300;overflow:hidden;box-sizing:border-box;}
	.notice_slide .is_slide .sld a{display: block;width:100%;color:#666;letter-spacing:-0.1vw;line-height:6.2vw;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}

	.agree_wp .agr_all{padding:3.7vw 0;font-weight:500;}
	.agree_wp .agr_all::after{display: block;clear:both;content:'';}
	.agree_wp .agr_all a{float:right;}
	.agree_wp .agr_all a.open img{transform:rotate(-180deg);}
	.agree_wp .agr_list{display:none;position:relative;margin:0 -4.4vw;border-top:0.2vw solid #F1F2F3;}

	.agree_wp.bx_cont{padding:0;}
	.agree_wp .agr_list ul{padding:2vw 4.4vw;}
	.agree_wp .agr_list li{display: block;padding:2vw 0 0;}
	.agree_wp .agr_list li .tit {padding-bottom:2vw;}
	.agree_wp .agr_list li .tit a{float:right;}
	.agree_wp .agr_list li .cont{display:none;max-height:30vw;margin:0 -4.4vw;padding:3vw 4.4vw 4vw 11vw;background:#F8F9FA;overflow:hidden;overflow-y:auto;}
	.agree_wp .agr_list li .cont *{font-size:3.2vw;color:#666;line-height:1.5;}
	.agree_wp .agr_list li .cont dl{padding-bottom:3vw;}
	.agree_wp .agr_list li .cont dl dt{padding-bottom:1vw;}

	.card_select .cd_list{margin:0 0 3.5vw;}
	.card_select .cd_list li{display: block;margin:1.5vw 0;}
	.card_select .cd_list li *{display: inline-block;vertical-align: middle;font-size:3vw;color:#666;}
	.card_select .cd_list li b{padding:0 2vw 0 1vw;font-weight:500;color:#363636;}
	
	.cd_sel{padding-bottom:2vw;}
	.cd_sel.tab_cnt{border:0;}
	.pay_select .cd_sel{border:0;}
	.pay_sel{margin-top:4.4vw;}
	.pay_sel.mt2{margin-top:2.2vw;}

	.simple_select .bx_tab ul{margin-top:-0.5vw;margin-left:-0.5%;}
	.simple_select .bx_tab li{width:calc(33.33% - 0.5%);margin-left:0.5%;margin-top:0.5vw;}

	.notice_view{height:72vw;padding-bottom:2vw;border-bottom:0.2vw solid #F1F2F3;overflow:hidden;overflow-y:auto;}
	.notice_view li{display: block;border-top:0.2vw solid #F1F2F3;}
	.notice_view li:first-child{border:0;}
	.notice_view li .tit{padding:4vw 4.4vw;}
	.notice_view li .tit a{display: block;width:100%;font-size:3.6vw;color:#363636;line-height:1.5;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
	.notice_view li .tit .date{display: block;padding-top:1vw;font-size:3vw;color:#A0A0A0;font-weight:300;}
	.notice_view li .cont{display:none;padding:4vw 4.4vw 4.5vw;background:#FAFAFA;font-size:3.4vw;color:#666;line-height:1.5;}
	.notice_view li.on .tit a{text-overflow:clip;white-space:normal;word-wrap:break-word;}

	.btn_fix{position:fixed;bottom:0;left:0;width:100%;}
	.btn_fix a{display: block;font-size:4vw;color:#ffff;line-height:12.7vw;text-align:center; }

	.check_list{border-top:0.2vw solid #F1F2F3;}
	.check_list li{display: block;position:relative;min-height:15vw;padding:2.5vw 0;border-bottom:0.2vw solid #F1F2F3;box-sizing:border-box;}
	.check_list li:last-child{padding-bottom:0;border:0;}
	.check_list li .tit{display:table;position:absolute;left:0;top:2.5vw;height:10vw;font-size:3.2vw;color:#363636;font-weight:400;letter-spacing:-0.1vw;}
	.check_list li .tit span{display: table-cell;vertical-align: middle;line-height:1.2;}
	.check_list li .cont{padding-left:18vw;font-size:3.5vw;color:#363636;}
	.check_list li .cont::after{display: block;clear:both;content:'';}
	.check_list li .cont *{display: inline-block;vertical-align: middle;}
	.check_list li .cont .tt{line-height:10vw;}
	.check_list li .cont img.amb{height:4.5vw;margin:0 1vw 0 0;}
	.check_list li .cont .re_btn{float:right;margin-top:2vw;padding:1.5vw 2vw;border:0.2vw solid;border-radius:1vw;font-size:3vw;}
	.check_list li .cont .ex{margin-top:2vw;font-size:2.8vw;color:#A0A0A0;font-weight:300;line-height:1.2;}
	.check_list li .cont .tar{display: block;}
	.check_list li.check{min-height:10vw;}
	.check_list li.check .cont{line-height:9vw;}
	.check_list li.check .cont .chk.sm+.chk_label.sm{margin-right:3vw;}

	.info_list{padding-top:2vw;border-top:0.2vw solid #F1F2F3;}
	.info_list li{display: block;position:relative;margin-top:-1.5vw;min-height:10vw;padding:1vw 0;box-sizing:border-box;}
	.info_list li:last-child{padding-bottom:0;border:0;}
	.info_list li .tit{display:table;position:absolute;left:0;top:1vw;height:10vw;font-size:3.2vw;color:#363636;font-weight:400;letter-spacing:-0.1vw;}
	.info_list li .tit span{display: table-cell;vertical-align: middle;line-height:10vw;}
	.info_list li .cont{padding-left:18vw;font-size:3.5vw;color:#363636;}
	.info_list li .cont::after{display: block;clear:both;content:'';}
	.info_list li .cont *{display: inline-block;vertical-align: middle;}
	.info_list li .cont .tt{line-height:10vw;}
	.info_list li .cont .ex{margin-top:2vw;font-size:2.8vw;color:#A0A0A0;font-weight:300;line-height:1.2;}
	.info_list li .cont .red b{display: inline-block;vertical-align: top;position:relative;margin-top:-0.3vw;font-size:4.5vw;font-weight:500;}
	.info_list li .cont .re_btn{float:right;margin-top:2vw;padding:1.5vw 2vw;border:0.2vw solid;border-radius:1vw;font-size:3vw;}

	.info_check{padding-bottom:2vw;}

	.card_info .info_form li{display: block;margin-bottom:4vw;}
	.card_info .info_form li:last-child{margin-bottom:0;}
	.card_info .info_form li label{display: block;padding-bottom:2vw;font-size:3.5vw;color:#363636;font-weight:500;}

	.recp_con .recp_form{display: block;margin-top:3.5vw;}
	.recp_con .recp_form li{display: block;margin-top:2.5vw;}
	.recp_con .recp_form li .select_basic{width:100%;}
	.recp_con .recp_form li.opt{display:none;}
	.recp_con .recp_form li.opt.mob{display:block;}

	.method_wp{padding-top:5vw;text-align:center;}
	.method_wp .logo img{height:22vw;}
	.method_wp .tit{font-size:4.4vw;color:#222;}
	.method_wp .stxt{padding:4vw 0 8vw;font-size:3vw;color:#a0a0a0;line-height:1.5;}
	.method_wp ul{margin-left:-3vw;}
	.method_wp li{display: inline-block;vertical-align: top;position:relative;width:calc(50% - 3vw);height:37vw;margin-left:3vw;background:#fff;border-radius:5vw;border:0.2vw solid #E7E7E8;}
	.method_wp li .img{position:relative;height:26vw;}
	.method_wp li .card {position:relative;top:6vw;left:0;margin:0 auto;width:34vw;height:26vw;background:url("../img/m/bg_card.png") no-repeat center top;background-size:auto 15vw;text-align:left;}
	.method_wp li .card img{height:9vw;margin:-1.5vw 0 0 -0.5vw;}
	.method_wp li .point img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);height:13vw;}
	.method_wp li .tt{font-size:3.4vw;color:#222;}

	.card_register{margin-top:0;border:0;}
	.card_register h2{text-align:center;}
	.card_img{position:relative;margin:1vw auto 6vw;width:270px;height:160px;border-radius:10px;background-repeat:no-repeat;background-position:center top;background-size:auto 160px;overflow:hidden;}
	.card_img .info{position:absolute;right:24px;bottom:24px;text-align:right;}
	.card_img .info .number span{display: inline-block;vertical-align: top;font-size:14px;color:#C9C9C9;padding-left:5px;}
	.card_img .info .date{margin-top:5px;font-size:11px;color:#c9c9c9;}
	.card_img.on .info .number span{color:#fff;}
	.card_img.on .info .date{color:#878787;}
	.card_img.add{background:#fff;box-shadow:0.5vw 1vw 2vw rgba(0,0,0,0.05)}
	.card_img.add > a{display: block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:3.8vw ;color:#A0A0A0}
	.card_img.add > a::before{display: block;margin-bottom:4vw;width:100%;height:7vw;background:url("../img/m/ico_add.png") no-repeat center center;background-size:auto 7vw;content:'';}
	.card_img .setting{position:absolute;right:24px;bottom:24px;text-align:right;}
	.card_img .setting *{display: inline-block;vertical-align: middle;}
	.card_img .setting i{font-size:4vw;color:#F2C94C;}
	.card_img .setting .btn{width:8vw;height:8vw;margin-left:1vw;background:#000;border-radius:100%;text-align:center;line-height:7.5vw;}
	.card_img .setting .btn img{height:0.8vw;}

	.password_input{padding-top:22vw;text-align:center;}
	.password_input .tit{padding-bottom:8vw;font-size:6vw;color:#363636;font-weight:500;}
	.password_input .number span{display: inline-block;vertical-align: top;position:relative;width:4vw;height:4vw;margin:0 1vw;line-height:4vw;}
	.password_input .number span::after{display: block;top:50%;left:0;transform:translateY(-50%);width:100%;border-top:0.2vw solid #EE3838;content:'';}
	.password_input .number span.on::after{width:90%;height:90%;background:#EE3838;border-radius:100%;}
	.keypad{position:fixed;bottom:0;left:0;width:100%;height:70vw;background:#363636;z-index:9;}
	.keypad a{display: inline-block;vertical-align: top;width:25%;line-height:23.3vw;color:#fff;font-size:6vw;text-align:center;}
	.keypad a.back{font-size:0;background:url('../img/m/ico_back.png') no-repeat center center;background-size:auto 5vw;}
	.keypad a.reb{font-size:4.4vw;}

	.caution{position:relative;width:100%;border-bottom:1.5vw solid #F1F2F3;background:#EE3838;text-align:center;}
	.caution span{display: inline-block;padding-left:4vw;background:url('../img/m/ico_caut.png') no-repeat left top 2.3vw;background-size:3vw;font-size:2.8vw;color:#fff;line-height:8vw;letter-spacing:-0.1vw;}
	.pg_password .caution{border:0;}

	.cd_title{padding:5.5vw 0 6vw;text-align:center;}
	.cd_title .st{font-size:3.1vw;color:#A0A0A0;}
	.cd_title .tit{margin:5.2vw 0 0;font-size:5vw;color:#363636;font-weight:500;}
	.cd_title .num{font-size:5.5vw;font-weight:600;}
	.cd_title .num em{font-size:4vw;font-weight:400;}

	.card_list{margin-top:0;border:0;}
	.card_list h2{text-align:center;}
	.card_list .setting_btn{display: inline-block;;position:absolute;left:2vw;top:2vw;}
	.card_list .setting_btn img{height:4vw;}
	.card_list .list_con {position:relative;padding-bottom:12vw;}
	.card_list .list_con::before{display: block;position:absolute;left:0;top:0;width:100%;height:55vw;background:#F8F9FA;content:'';z-index:-1;}
	.card_list .list_con .card_slide{width:100%;overflow:hidden;}
	.card_list .list_con .card_slide .slick-list{padding-left:11vw !important;padding-right:11vw !important}
	.card_list .list_con .slick-slide{float:left;text-align:center;}
	.card_list .list_con .tit{padding:0 0 3vw;font-size:5.2vw;color:#363636;font-weight:500;}
	.card_list .list_con .nick{font-size:3.1vw;color:#a0a0a0;}
	.card_list .list_con .select_basic{margin-top:5vw;}
	.card_list .list_con .slide_dots{margin-top:12vw;text-align:center;}
	.card_list .list_con .slide_dots li{display: inline-block;vertical-align: middle;margin:0 1vw;}
	.card_list .list_con .slide_dots li button{width:2.5vw;height:2.5vw;background:#F1F2F3;border-radius:100%;font-size:0;}
	.card_list .list_con .slide_dots li:last-child{margin-top:0.5vw;}
	.card_list .list_con .slide_dots li:last-child button{width:3.2vw;height:3.2vw;background:url('../img/m/ico_cp.png') no-repeat;background-size:3.2vw;}
	.card_list .cd_bot .ntxt{padding-bottom:5vw;text-align:center;color:#a0a0a0;}
	.card_list .cd_bot .btn_norm{width:100%;}

	.setting_pop{display:none;position:fixed;bottom:0;left:0;width:100%;height:100%;z-index:9999;}
	.setting_pop .pp_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:9999;}
	.setting_pop .cont{position:fixed;bottom:-50%;left:0;width:100%;padding:3vw 4vw 5vw;background:#fff;border-radius:2vw 2vw 0 0 ;z-index:99999;box-sizing:border-box;transition:all .3s;}
	.setting_pop .cont ul{padding-bottom:3vw;}
	.setting_pop .cont li{display: block;border-bottom:1px solid #F1F2F3;}
	.setting_pop .cont li:last-child{border:0;}
	.setting_pop .cont li a{display: block;padding-left:2vw;font-size:4vw;color:#363636;line-height:14vw;box-sizing:border-box;}
	.setting_pop .cont .btn_norm{width:100%;border-radius:2vw;}
	.setting_pop.open .cont{bottom:0;}

	@media only screen and (max-width:400px){
		.card_list .list_con .card_slide .slick-list{padding-left:9vw !important;padding-right:9vw !important}
	}

	@media only screen and (max-width:358px){
		.card_img{width:220px;height:131px;background-size:auto 131px;}
		.card_img .info{right:14px;bottom:14px;}
		.card_img .info .number span{font-size:12px;}
		.card_img .info .date{margin-top:2px;font-size:10px;}
		.card_list .list_con .card_slide .slick-list{padding-left:11vw !important;padding-right:11vw !important}
	}

	@media only screen and (min-width:470px){ .card_list .list_con .card_slide 
	.slick-list{padding-left:17vw !important;padding-right:17vw !important} }

	@media only screen and (min-width:720px){
		.card_img{width:560px;height:332px;background-size:auto 332px;}
		.card_img .info .number span{font-size:22px;}
		.card_img .info .date{font-size:16px;}
		.card_list .list_con .card_slide .slick-list{padding-left:70px !important;padding-right:70px !important}
	}

	@media only screen and (min-width:900px){
		.card_img{width:600px;height:356px;background-size:auto 356px;}
		.card_list .list_con .card_slide .slick-list{padding-left:120px !important;padding-right:120px !important}
	}
	
	.point_wp{margin-top:0;border:0;}
	.point_wp h2{padding-bottom:0;text-align:center;}
	.point_wp h2 span{display: block;float:none;padding-bottom:2vw;font-size:3vw;}
	.point_wp .info_form {padding-top:7vw;}
	.point_wp .info_form li{display: block;margin-bottom:4vw;}
	.point_wp .info_form li:last-child{margin-bottom:0;}
	.point_wp .info_form li label{display: block;padding-bottom:2vw;font-size:3.5vw;color:#363636;font-weight:500;}
	.ex_list li{display: block;position:relative;padding-left:1.5vw;font-size:3.1vw;color:#666;line-height:1.5;}
	.ex_list li::before{display: inline-block;position:absolute;left:0;top:0;line-height:1.5;content:'·'}
	.pt_total{padding:7vw 0;text-align:center;}
	.pt_total .tag{display: inline-block;margin-bottom:4vw;padding:1vw 2vw;font-size:3.4vw;color:#666;border:1px solid #ECEDEF;border-radius:5vw;}
	.pt_total .num{font-size:4.8vw;font-weight:600;}
	.pt_total .num b{font-size:8vw;font-weight:600;}
	.pt_total .ext{max-width:90%;margin:0 auto;padding:6vw 0 4vw;margin-top:6vw;border-top:1px solid #F1F2F3;font-size:3.4vw;color:#666;line-height:1.5;}

	.end_wp{margin-top:0;border:0;}
	.end_wp h2{padding-bottom:0;text-align:center;}
	.end_wp .cont{padding:9vw 0 7vw;text-align:center;}
	.end_wp .cont img{height:27vw;}
	.end_wp .cont .ntxt{padding-top:7vw;font-size:3.6vw;line-height:1.8;}

	.input_form h2{margin-bottom:5.5vw;padding-bottom:4vw;border-bottom:0.2vw solid #F1F2F3;}
	.input_form h2 span{float:none;}
	.input_form .info_form li label{display: block;padding-bottom:2vw;font-size:3.5vw;color:#363636;font-weight:500;}

	.buy_form {margin-top:2vw;padding-top:2vw;border-top:0.2vw solid #F1F2F3;}
	.buy_form .radio{margin-top:4.5vw;}
	.bform{position:relative;width:100%;margin-top:3vw;padding:4vw 4vw 4vw 0;background:#FAFAFA;}
	.bform *{display: inline-block;vertical-align: middle;font-size:3.4vw;}
	.bform ul{width:100%;}
	.bform li{display:block;position:relative;margin-top:1.5vw;padding-left:20vw;}
	.bform li:first-child{margin-top:0;}
	.bform label{position:absolute;left:4vw;line-height:10vw;color:#666;}
	.bform .input_basic{width:100%}

	.buy_confirm{padding:20vw 0 5vw;text-align:center;}
	.buy_confirm img{height:15vw;}
	.buy_confirm .txt{padding-top:4vw;font-size:4vw;color:#c9c9c9;line-height:1.5;}

	.cs_list ul{margin-top:5vw;padding-top:3vw;border-top:1px solid #e7e7e7;}
	.cs_list li{display: block;position:relative;margin-top:1.5vw;}
	.cs_list li .itxt{margin-top:0;padding:0 0 0 4.2vw;border:0;background: url(../img/m/ico_i.png) no-repeat left top; background-size: 3.2vw;text-align:left;line-height:1.3;}

	.app_guide h2{margin-bottom:4vw;border-bottom: 0.2vw solid #F1F2F3;}
	.app_guide .gd_cont{font-size:3.6vw;color:#363636;line-height:1.6;}
	.app_guide .gd_cont .qa_bx{margin-top:5.5vw;padding:5vw 3vw;background:#FAFAFA;font-size:3.5vw;color:#666;box-sizing:border-box;}
	.app_guide .gd_cont .qa_bx span{display: inline-block;margin-right:1vw;color:#C4C4C4;font-size:2.6vw;}
	.app_guide .gd_cont .qa_bx dl{position:relative;margin-top:2vw;font-size:3.2vw;}
	.app_guide .gd_cont .qa_bx dl *{display: inline-block;vertical-align: middle;line-height:6vw;letter-spacing:-0.1vw;}
	.app_guide .gd_cont .qa_bx dl dt{width:12.5vw;background:#fff;border:1px solid #e7e7e7;border-radius:3vw;color:#666;line-height:6vw;text-align:center;}
	.app_guide .gd_cont .qa_bx dl dd:nth-child(2){margin-right:1.5vw;}
	.app_guide .gd_cont .qa_bx dl dd.tel{font-size:4.5vw;color:#222;font-weight:600;}

	.error_con{padding:10vw 0 5vw;text-align:center;}
	.error_con h2{padding-bottom:6vw;color:#EE3838;font-size:5vw;font-weight:500;}
	.error_con h2::before{display:block;width:7vw;height:7vw;margin:0 auto 3.5vw;background:#EE3838 url('../img/m/ico_mk.png') no-repeat center center;background-size:auto 4vw;border-radius:100%;text-align:center;content:'';}
	.error_con .ntxt span{color:#A0A0A0;}

	.foot_ex{margin-top:15vw;padding-top:14vw;border-top:1px solid #e7e7e7;text-align:left;}
	.foot_ex dl{position:relative;}
	.foot_ex dl *{line-height:1.5;}
	.foot_ex dt{position:absolute;}
	.foot_ex dt img{height:5vw;}
	.foot_ex dt.sm img{margin-top:2.5vw;height:2.5vw;}
	.foot_ex dd{padding-top:1.8vw;padding-left:24vw;font-size:3vw;color:#666;letter-spacing:-0.1vw;}

	.card_cert {position:relative;margin:-2vw 0 6vw;}
	.card_cert .cont{padding:5vw 4vw 7vw;background:#F8F9FA;border-top:1px solid #F1F2F3;}
	.card_cert .cont .tit{margin:0 -4vw;padding:0 4vw 4vw;border-bottom:1px solid #F1F2F3;font-size:3.2vw;color:#666;text-align:center;line-height:1.7;letter-spacing:-0.1vw;}
	.card_cert .cont .tit b{font-weight:500;line-height:1.7;}
	.card_cert .cont .tt{padding:3vw 0 2.5vw;font-size:3.2vw;color:#222;}
	.card_cert .cont .frm.cert .time{left:44vw;}
/* [e] Contents */

/* [s] Etc */
	/* 인풋박스 */
	.input_basic{width:100%;height: 10vw;padding:0 2vw;border:0.2vw solid #E7E7E8;border-radius:1vw;color:#363636;font-size:3.4vw;box-sizing: border-box;vertical-align: top;}
	.input_basic:disabled{background:#FAFAFA;color:#888;}
	.frm{display: block;border:0.2vw solid #E7E7E8;border-radius:1vw;color:#363636;font-size:0;letter-spacing:0;word-spacing:0;vertical-align: top;overflow:hidden;}
	.frm input{display: inline-block;position:relative;width:100%;padding:0 2.5vw;border:0;border-radius:1vw;height:10vw;color:#363636;font-size:3.4vw;text-align:left;letter-spacing:-0.1vw;box-sizing:border-box;}
	.frm.tal input{padding:0 2vw;text-align:left;}
	.frm .inp{display: inline-block;vertical-align: top;position:relative;}
	.frm.w2 .inp{width:50%;}
	.frm.w3 .inp{width:33.333%;}
	.frm.w4 .inp{width:25%;}
	.frm.dash .inp::after{display: inline-block;position:absolute;top:0;right:0;font-size:3vw;color:#ccc;content:'-';line-height:10vw;}
	.frm.slush .inp::after{display: inline-block;position:absolute;top:0;right:0.5vw;font-size:2vw;color:#ccc;content:'/';line-height:10vw;}
	.frm .inp:last-child::after{display:none;}
	.wd20{width:26vw;}
	.wd30{width:30vw;}
	.wd40{width:40vw;}
	.wd60{width:60vw;}
	.wdfull{width:100% !important;}
	.frm.w4.dash{width:58vw;}
	.frm.w2.wd40{width:23vw;}
	.frm.w3.wd60{width:33vw;}
	.frm.w3.dash{width:47vw;}
	.frm.w3.dash .inp{width:35%;}
	.frm.w3.dash .inp:first-child{width:30%;}
	.frm.w3.dash .inp input{text-align:center;}
	.frm.w3.dash .inp:first-child input{text-align:left;}
	.frm.cert{width:47vw;border:0.2vw solid #E7E7E8;border-radius:1vw;}
	.frm.cert .time{position:absolute;left:40vw;font-size:3vw;line-height:11vw;}
	.cert_btn{display: inline-block;vertical-align: top;width:30vw;margin-left:2vw;background:#fff;border:0.2vw solid #C9C9C9;color:#A0A0A0;font-size:3.2vw;line-height:10vw;text-align:center;box-sizing:border-box;letter-spacing:-0.1vw;}
	.cert_btn.red{border-color:#EE3838;}
	.cert_btn:disabled{border-color:#E9EAEB !important;background:#E9EAEB;color:#C9C9C9 !important;}
	.inp_btn {margin-top:2vw;}
	.inp_btn .frm{display: inline-block;vertical-align: top;}
	.cert_check{margin-top:2vw;padding-left:3.5vw;background:url('../img/m/ico_ok.png') no-repeat center left;background-size:auto 1.8vw;font-size:3vw;color:#EE3838;}
	
	/* 셀렉박스 */
	.select_basic{width:40vw;height: 10vw;padding:0 2vw;border:0.2vw solid #E7E7E8;border-radius:1vw;background: url('../img/m/ico_sel.png') no-repeat center right 2vw;background-size:auto 1.5vw;font-size: 3.4vw;box-sizing: border-box;}

	/* 체크박스 */
	.chk{overflow: hidden;position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;clip:rect(0,0,0,0);border: 0;z-index:3;}
	.chk_label{position:relative;z-index:2;}
	.chk+.chk_label{display: inline-block;position: relative;padding-left:6vw;font-size:3.8vw;line-height: 5vw;color: #444;cursor: pointer}
	.chk+.chk_label:after{position: absolute;top:0;left: 0;width: 5vw;height: 5vw;border-radius:5vw;background:#E9EAEB url('../img/m/ico_check.png') no-repeat center top 1.3vw;background-size:3.5vw;content: ''}
	.chk:checked+.chk_label{color:#363636;}
	.chk:checked+.chk_label:after{background:#EE3838 url('../img/m/ico_check.png') no-repeat center top 1.3vw;background-size:3.5vw;}

	.chk.sm+.chk_label.sm{display: inline-block;position: relative;padding-left:6vw;font-size:3.5vw;line-height: 5vw;color: #444;cursor: pointer}
	.chk.sm+.chk_label.sm:after{position: absolute;top:0;left: 0;width: 5vw;height: 5vw;border-radius:3vw;background:url('../img/m/ico_scheck.png') no-repeat center top 1.5vw;background-size:3vw;content: ''}
	.chk.sm:checked+.chk_label.sm{color:#363636;}
	.chk.sm:checked+.chk_label.sm:after{background:url('../img/m/ico_schecked.png') no-repeat center center;background-size:3vw;}

	.chk.rd+.chk_label.rd{display: inline-block;position: relative;padding-left:6vw;font-size:3.5vw;line-height: 3.8vw;color: #444;cursor: pointer}
	.chk.rd+.chk_label.rd:after{position: absolute;top:0;left: 0;width: 4vw;height: 4vw;background:none;border:1px solid #E9EAEB;border-radius:100%;font-size:1.5vw;content: '';text-align:center;}
	.chk.rd:checked+.chk_label.rd{color:#363636;}
	.chk.rd:checked+.chk_label.rd:after{border:1px solid #EE3838;color:#EE3838;content: '●';}

	/* 버튼 */
	.btn_area{display:block;clear:both;text-align:center;font-size:0;letter-spacing:0;word-spacing: 0;}
	.btn_area::after{display:block;clear:both;content:'';}
	.btn_norm{display:inline-block;width:49%;height:12.7vw;background:#F1F2F3;font-size:4vw;color:#666;line-height:12.7vw;text-align:center;}
	.btn_norm:first-child{margin-right:2%;}
	.btn_norm.bg_thm{color:#fff;}
	.btn_norm.full{width:100%;margin-right:0;}

	.b_arr img{height:2vw;transition:all .3s;}
	.s_arr img{height:1.8vw;transition:all .3s;}
	.b_arr.on img, .s_arr.on img{transform:rotate(-180deg);}
	/* 스크롤 커스텀 */
	.scr_cust{scrollbar-3dLight-Color: #f1f1f1; scrollbar-arrow-color: #ddd; scrollbar-base-color: #f1f1f1; scrollbar-Face-Color: #ddd; scrollbar-Track-Color: #f1f1f1; scrollbar-DarkShadow-Color: #f1f1f1; scrollbar-Highlight-Color: #f1f1f1; scrollbar-Shadow-Color: #f1f1f1}
	.scr_cust::-webkit-scrollbar-track{background-color: #f1f1f1;}
	.scr_cust::-webkit-scrollbar{background-color: #ddd;}
	.scr_cust::-webkit-scrollbar-thumb{background-color: #ddd;}

	/* 레이어 팝업 */
	.layer_wrap{display:none;position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%;overflow-y: auto;outline:0;}
	.layer_wrap .ly_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:9;}
	.layer_wrap .ly_content{display:none;position:relative;width:100%;height:100%;}
	.ly_cont{display:table-cell;vertical-align: middle;position:relative;width:100%;height:100%;padding:0;text-align:center;box-sizing: border-box;}
	.layer{position:relative;z-index:999;vertical-align: middle;width:70vw;padding:0;margin:0 auto;background:#fff;text-align:left;box-sizing: border-box;overflow:hidden;overflow:hidden;}
	.layer::after{display:block;clear:both;content:'';}
	.layer .close{display:inline-block;position:absolute;top:30px;right:40px;font-size:0;}
	.layer .tit_top{position:relative;border-bottom:1px solid #ddd;font-size:4.2vw;color:#000;text-align:center;padding:4vw 0;letter-spacing:-0.1vw;}
	.layer .tit_top a{position:absolute;right:3.2vw;top:3.5vw;}
	.layer .tit_top a img{height:4.2vw;}
	.layer .cont{width:100%;padding:10vw 0 8vw;font-size:3.4vw;color:#000;line-height:1.7;box-sizing: border-box;letter-spacing:-0.2vw;}
	.layer .btn_area{display: block;font-size:0;letter-spacing:0;word-spacing:0;}
	.layer .btn_area .btn_pop{display: block;height:12vw;border-top:1px solid #F1F2F3;font-size:3.8vw;color:#666;line-height:11vw;font-weight:500 !important;box-sizing:border-box;}
	.layer .btn_area.w2 .btn_pop{display: inline-block;vertical-align: top;width:50%;}
	.layer .btn_area.w2 .btn_pop:first-child{border-right:0.2vw solid #F1F2F3;}
	.layer.norm_pop{text-align:center;}
	.layer.norm_pop .tt{padding-bottom:4vw;font-size:4.4vw;color:#363636;font-weight:500;line-height:1.4;}
	.layer.norm_pop .st{font-size:3.4vw;color:#666;line-height:1.5;}
	.layer.norm_pop .date{display: inline-block;margin-top:0;padding:1vw 1.5vw;border-radius:2.5vw;border:1px solid #ECEDEF;font-size:3vw;color:#A0A0A0;letter-spacing:0;}
	.layer.not_pop{width:90vw;}
	.layer.not_pop .notice_top{padding:4vw 0;border-bottom:0.2vw solid #F1F2F3;text-align:center;}
	.layer.not_pop .notice_top h1{padding-top:0.5vw;font-size:3.8vw;color:#363636;font-weight:500;}
	.layer.not_pop .notice_top .close {position:absolute;right:3vw;top:4vw;}
	.layer.not_pop .notice_top .close img{height:4vw;}
	.layer.not_pop .btn{display: block;}
	.layer.not_pop .btn a{display: block;font-size:4vw;color:#ffff;line-height:12.7vw;text-align:center; }

	/* 페이징 */
	.pg_wrap {clear:both;padding:5vw 0;text-align:center}
	.pg_wrap:after {display:block;visibility:hidden;clear:both;content:""}
	.pg {position:relative;z-index:3;}
	.pg_page, .pg_current{display:inline-block;vertical-align:middle;}
	.pg a:focus, .pg a:hover {text-decoration:none}
	.pg_page {display:inline-block;padding:0 2vw;margin:0 0.5vw;font-size:3vw;background:#FAFAFA;border-radius:1vw;color:#A0A0A0;line-height:6vw;font-weight:400;text-decoration:none;box-sizing: border-box;background-size:auto 3vw !important;}
	.pg_start {text-indent:-999px;overflow:hidden;background:url('../img/m/pg_first.png') no-repeat 50% 50%;width:3.5vw;padding:0;font-size:0;}
	.pg_prev {text-indent:-999px;overflow:hidden;background:url('../img/m/pg_prev.png') no-repeat 50% 50%;width:3.5vw;margin:0 3.5vw 0 2.5vw;padding:0;font-size:0;}
	.pg_end {text-indent:-999px;overflow:hidden;background:url('../img/m/pg_end.png') no-repeat 50% 50%;width:3.5vw;padding:0;font-size:0;}
	.pg_next {text-indent:-999px;overflow:hidden;background:url('../img/m/pg_next.png') no-repeat 50% 50%;width:3.5vw;margin:0 2.5vw 0 3vw;padding:0;font-size:0;}
	.pg_current{display:inline-block;padding:0 2vw;margin:0 0.5vw;border:1px solid #fac4c4;background:#fff;border-radius:1vw;color:#EE3838;font-size:3.4vw;font-weight:500;line-height:6vw;box-sizing: border-box;}

	/* DatePicker */
	#ui-datepicker-div{width:300px;margin:0 0 0 0;padding:20px;background: #f7f7f7;border: 0;box-shadow:5px 5px 0 #ededed;box-sizing: border-box;z-index:4 !important;}
	#ui-datepicker-div .ui-widget-content {width:100%; padding:0; margin:0; border:0; background:#f7f7f7;}
	#ui-datepicker-div .ui-datepicker-header {position:relative;width:100%; padding: 0; margin:0; border:0;box-sizing:border-box;background:#f7f7f7;}
	#ui-datepicker-div .ui-datepicker-title {text-align:center;margin:0;width:100%;margin:0 auto;font-size:24px;line-height:1;font-weight:600;color:#000;}
	#ui-datepicker-div .ui-datepicker-month{position:relative;margin-left:2px;}
	#ui-datepicker-div table {width:100%;padding:16px;background:#f7f7f7; border-collapse: collapse;box-sizing:border-box;}
	#ui-datepicker-div .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {position:static; top:auto; left:auto; width:100%; height:100%; margin:0; background:transparent; display:none;}
	#ui-datepicker-div th {width:40px;padding:10px 0 10px 0;line-height:34px; background:#f7f7f7;}
	#ui-datepicker-div th:first-of-type {width:14.32%;}
	#ui-datepicker-div th span {font-weight: normal;font-size:16px; color:#000; line-height:1;}
	#ui-datepicker-div td {width:40px;height:40px;border:1px solid #E1E1E1; font-size:16px;text-align:center; background:#fff;}
	#ui-datepicker-div td.ui-state-disabled{background:#fff;border:none;}
	#ui-datepicker-div td.ui-state-disabled span{color:#999;}
	#ui-datepicker-div td.ui-datepicker-week-end a{color:#EB1B1B;}
	#ui-datepicker-div .ui-state-default {padding:5px 0; border:0;color:#575757; line-height:35px; text-align:center; }
	#ui-datepicker-div td.ui-datepicker-other-month a{font-size:0 !important;}
	#ui-datepicker-div td.noday {background:#fff !important;}
	#ui-datepicker-div td.noday a{color:#ccc !important;}
	#ui-datepicker-div td.ui-datepicker-current-day{background:#000E65;}
	#ui-datepicker-div td.ui-datepicker-current-day a{color:#fff;}
	#ui-datepicker-div td.ui-datepicker-other-month{background:none;border:none;}
	#ui-datepicker-div .ui-state-default.ui-priority-secondary {color:#c8c8c8; line-height:1; background:#f5f5f5;}
	#ui-datepicker-div .ui-state-default.ui-state-active { margin:0 auto;color:#fff !important; padding-bottom:0; border-bottom:1px solid #fff;}
	#ui-datepicker-div .ui-widget-content .ui-state-default {padding:0; border:0;}
	#ui-datepicker-div.ui-widget-header .ui-state-default {padding:0; border:0;}
	#ui-datepicker-div .ui-icon{display: none;}
	#ui-datepicker-div .ui-datepicker-current{display: none;}
	#ui-datepicker-div .ui-datepicker-close{display:none;}
	#ui-datepicker-div select{width:100px;height:30px;margin:0 0;padding:0 10px;font-size:16px;border:1px solid #ddd;background:#fff url('../img/ico_sel.png') no-repeat center right 10px;background-size:8px auto;box-sizing: border-box;box-sizing: border-box;}
}
/* [e] Etc */
